{% extends 'html/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-5">
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<h2>Login</h2>
				<input type="text" name="username" placeholder="username" class="form-control my-2">
				<input type="password" name="password" placeholder="password" class="form-control my-2">
				<input type="submit" value="Login" class="btn btn-success btn-block my-2">
			</form>
		</div>
	</div>
</div>
{% endblock %}