{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rg' %}">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dsh' %}">Dashboard</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'vw' %}">Note Details</a>
      </li>
      {% endif %}   
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:120px">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}">Login</a>
      </li>
      {% else %}
       <li class="dropdown">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown"><img src="{{request.user.updext.im.url}}" height="25px" width="25px" class="rounded-circle" /> {{user.username}} </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
        <a class="dropdown-item" href="#">Change Password</a>
        <a class="dropdown-item" href="{% url 'lgo' %}">Logout</a>
      </div>
    </li>
      {% endif %}
    </ul>
  </div>  
</nav>