{% extends 'html/base.html' %}
{% load static %}
{% block title %} Profile::{{user.username}} {% endblock %}
{% block content %}
<div class="container">
	<!-- {% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		{{j}}
	</div>
	{% endfor %}
	{% endif %} -->
	<div class="row mt-3">
		<div class="card col-md-4 mx-2 h-100">
			<h2 class="bg-primary text-white text-center p-2 border rounded my-2">Profile</h2>
			<div class="card-body">
				<img src="{{request.user.updext.im.url}}" height="230px" width="100%">
			</div>
		</div>
		<div class="card col-md mx-2">
			<h2 class="bg-danger text-white text-center p-2 border rounded my-2">Details</h2>
			<table class="table table-borderless mx-3 my-2">
				<tr>
					<th>First Name</th>
					<td>{{user.first_name}}</td>
				</tr>
				<tr>
					<th>Last Name</th>
					<td>{{user.last_name}}</td>
				</tr>
				<tr>
					<th>Date of Joining</th>
					<td>{{user.date_joined}}</td>
				</tr>
				<tr>
					<th>Last Joined into site</th>
					<td>{{user.last_login}}</td>
				</tr>
				<tr>
					<th>Age</th>
					<td>{{user.updext.age}}</td>
				</tr>
				<tr>
					<th>Gender</th>
					<td>{{user.updext.gender}}</td>
				</tr>
			</table>
			<a href="{% url 'upf' %}" class="btn btn-success my-2">Update</a>
		</div>
	</div>
</div>
{% endblock %}