{% extends 'html/base.html' %}
{% block title %}Update notes{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-3 shadow-lg">
		<div class="card-body">
			<h2>Update Notes</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for n in p %}
					<tr>
						<td>{{n}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Update Notes" class="btn btn-success btn-block my-2">
			</form>
		</div>
	</div>
</div>
{% endblock %}