{% extends 'html/base.html' %}
{% block title %}Update{% endblock %}
{% block content %}
<div class="container">
	<div class="card mt-3 col-md-7 mx-auto">
		<h2 class="bg-secondary text-center text-white border rounded my-2 mx-2 p-2">Update</h2>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for n in m %}
					<tr>
						<td>{{n}}</td>
					</tr>
					{% endfor %}
					{% for e in t %}
					<tr>
						<td>{{e}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Update" class="btn btn-success btn-block">
			</form>
		</div>
	</div>
</div>
{% endblock %}